body{
    max-width: 1607px;
    margin:0 auto;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

nav h2{
    color: white;
}

nav .h2{
    color: fuchsia;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

nav button{
    padding: 7px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom left, blue, yellow);
    color: white;
    font-weight: 500;
    border: none;
}
.hero{
     width: 100%;
     height:900px;
     /* border:2px solid blue; */
     background-color: rgb(0, 0, 0);
}
.hero1{
    
    height: 900px;
    background: url(./images/microphone.png),url(./images/hero-circle.png), url(./images/hero-bg.png);
    background-position:  center,center,
        bottom right;
    /* background: url(./images/hero-circle.png); */
    background-repeat:no-repeat, no-repeat , no-repeat;
    
}
.hero2{
    display: grid;
    justify-content: center;
    align-items:center;
    background-color: black;
    color:white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
.hero2 h1{
   font-weight: bolder;
   text-align: center;
   /* padding-left: 300px; */
}
.hero21{
    display: flex;
    gap: 40px;
    text-align: center;
    /* padding-left: 40px; */
    padding-left: 190px;
    
}

.hero21 .btn1{
    display: flex;
    font-size: medium;
    align-items: center;
    /* text-align: center; */
    background-image: linear-gradient(to bottom left, blue, yellow);
    padding: 10px;
    gap:10px;
    border-radius: 25px;
    
}
.hero21 .btn2{
    display: flex;
    font-size: medium;
    font: 700;
    align-items: center;
     padding: 10px;
     color: #00FF88;
     gap: 10px;
     background-color: black;
     border-radius: 25px;
}
.hero3{
    background-color: black;
}
.hero31 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #FFFFFF;
    text-align: center;
}
.hero32{
    display: flex;
    justify-content:space-around;
    color:#00FF88;
}
.m{
    background-color: black;
    border: 1px solid black;
}
.m h1{
    text-align: center;
    color: #FFFFFF;
}
.main{
    background-color: black;
}
.main>*{
    border: 2px solid blueviolet;
    background-color:#351165;
    padding: 30px;
    color: #FFFFFF;
    border-radius: 10px;
    display: inline;
    align-items: center;
}
.micro{
    grid-area: micro;
}
.mobile{
    grid-area: mobile;
}
.communi{
    grid-area: communi;
}
.exclue{
    grid-area: exclue;
}
.rich{
    grid-area: rich;
}
.main{
     display: grid;
     gap: 20px;
     grid-template-areas:
     "micro mobile mobile"
     "micro communi communi"
     "exclue exclue rich"
}
.episode{
    background-color: black;
    color: white;
    padding: 30px;
}
.epi1{
    display: flex;
    justify-content: center;
}
.epi12{
    display: flex;
}
.epi121{
    display: flex;
    gap: 10px;
}
.host{
    background-color: black;
}
.host .host1{
    display: flex;
    justify-content: center;
    color: white;
}
.host .host2{
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
    background-color: #351165;
    padding: 30px;
}
.host211 img{
   padding-right: 10px;
}


footer{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: url(./images/footer-bg.png);
    background-position: to bottom;
    background-repeat: no-repeat;
    color:white;
}
.footer1{
    /* padding-left: 300px; */
    padding-top: 100px;
}
footer h1{
    padding-left: 200px;
    
}
.footer12{
    color:darkorchid;
}
footer p{
    color: white;
    text-align: center;
}
.sp{
    display: flex;
    gap: 10px;
}
.ap{
    display: flex;
    gap: 10px;
}
.t{
    display: flex;
    gap: 10px;
}
.yt{
    display: flex;
    gap: 10px;
}
.icon{
    display: flex;
    gap: 80px;
    padding-left: 90px;

}
@media (max-width: 768px) {

   
    body{
        max-width: 100%;
        padding: 0 10px;
    }

    
    nav{
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px 0;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.hero1{
    min-height: 100vh;
    background-image:
        url(./images/microphone.png),
        url(./images/hero-circle.png),
        url(./images/hero-bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
        center 20%,
        center 40%,
        center;
    background-size:
        220px,
        350px,
        cover;
}

.hero2{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero2 h1{
    font-size: 2.8rem;
    max-width: 900px;
}


.hero21{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    padding-left: 0;
}

@media (max-width: 992px){

    .hero2 h1{
        font-size: 2.2rem;
    }

    .hero1{
        background-size:
            180px,
            300px,
            cover;
    }
}

@media (max-width: 768px){

    .hero{
        min-height: auto;
    }

    .hero1{
        min-height: auto;
        padding: 80px 0;
        background-position:
            center 10%,
            center 35%,
            center;
        background-size:
            140px,
            240px,
            cover;
    }

    .hero2 h1{
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .hero21{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero21 .btn1,
    .hero21 .btn2{
        width: 90%;
        justify-content: center;
    }
}

@media (max-width: 480px){

    .hero2 h1{
        font-size: 1.5rem;
    }

    .hero1{
        background-size:
            110px,
            200px,
            cover;
    }
}
   
    .main{
        grid-template-areas:
            "micro"
            "mobile"
            "communi"
            "exclue"
            "rich";
    }

    .main > *{
        display: block;
        width: 100%;
    }

    
    .epi12{
        flex-direction: column;
        gap: 20px;
    }

    
    .host .host2{
        flex-direction: column;
        text-align: center;
    }

    
    footer{
        height: auto;
        padding: 50px 20px;
        background-size: cover;
    }

    footer h1{
        padding-left: 0;
        text-align: center;
    }

    .icon{
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        align-items: center;
    }
}

